In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Transformed_Housing_Data_2 = pd.read_csv('Transformed_Housing_Data2.csv')

In [3]:
Transformed_Housing_Data_2.head(5)

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

In [9]:
Y = Transformed_Housing_Data_2.iloc[:,0]
X = Transformed_Housing_Data_2.iloc[:,1:31]
Y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: Sale_Price, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size=0.3)

In [13]:
X_train.shape

(15126, 30)

In [14]:
X_test.shape

(6483, 30)

In [15]:
Y_train.shape

(15126,)

In [16]:
Y_test.shape

(6483,)

In [17]:
train_test_split??

In [18]:

X.describe

<bound method NDFrame.describe of        No of Bedrooms  No of Bathrooms  Flat Area (in Sqft)  \
0                   3             1.00               1180.0
1                   3             2.25               2570.0
2                   2             1.00                770.0
3                   4             3.00               1960.0
4                   3             2.00               1680.0
...               ...              ...                  ...
21604               3             2.50               1530.0
21605               4             2.50               2310.0
21606               2             0.75               1020.0
21607               3             2.50               1600.0
21608               2             0.75               1020.0

       Lot Area (in Sqft)  No of Floors  No of Times Visited  Overall Grade  \
0                  5650.0           1.0                    0              7
1                  7242.0           2.0                    0              7
2                 10000.0           1.0                    0              6
3                  5000.0           1.0                    0              7
4                  8080.0           1.0                    0              8
...                   ...           ...                  ...            ...
21604              1131.0           3.0                    0              8
21605              5813.0           2.0                    0              8
21606              1350.0           2.0                    0              7
21607              2388.0           2.0                    0              8
21608              1076.0           2.0                    0              7

       Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                         1180.0                        0
1                                         2170.0                      400
2                                          770.0                        0
3                                         1050.0                      910
4                                         1680.0                        0
...                                          ...                      ...
21604                                     1530.0                        0
21605                                     2310.0                        0
21606                                     1020.0                        0
21607                                     1600.0                        0
21608                                     1020.0                        0

       Age of House (in Years)  ...  Waterfront_View_Yes  \
0                           63  ...                    0
1                           67  ...                    0
2                           85  ...                    0
3                           53  ...                    0
4                           31  ...                    0
...                        ...  ...                  ...
21604                        9  ...                    0
21605                        4  ...                    0
21606                        9  ...                    0
21607                       14  ...                    0
21608                       10  ...                    0

       Zipcode_Group_Zipcode_Group_1  Zipcode_Group_Zipcode_Group_2  \
0                                  0                              0
1                                  0                              1
2                                  0                              1
3                                  0                              0
4                                  0                              0
...                              ...                            ...
21604                              0                              0
21605                              1                              0
21606                              0                              0
21607                              0                              0
21608                              0                              0

       Zipcode_Group_Zipcode_Group_3  Zipcode_Group_Zipcode_Group_4  \
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  1                              0
4                                  0                              1
...                              ...                            ...
21604                              1                              0
21605                              0                              0
21606                              1                              0
21607                              0                              1
21608                              1                              0

       Zipcode_Group_Zipcode_Group_5  Zipcode_Group_Zipcode_Group_6  \
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  0                              0
4                                  0                              0
...                              ...                            ...
21604                              0                              0
21605                              0                              0
21606                              0                              0
21607                              0                              0
21608                              0                              0

       Zipcode_Group_Zipcode_Group_7  Zipcode_Group_Zipcode_Group_8  \
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  0                              0
4                                  0                              0
...                              ...                            ...
21604                              0                              0
21605                              0                              0
21606                              0                              0
21607                              0                              0
21608                              0                              0

       Zipcode_Group_Zipcode_Group_9
0                                  0
1                                  0
2                                  0
3                                  0
4                                  0
...                              ...
21604                              0
21605                              0
21606                              0
21607                              0
21608                              0

[21609 rows x 30 columns]>

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
scale = StandardScaler()
X_train = scale.fit_transform(X_train)
X_train

array([[-0.39185011, -1.44403302, -1.02189857, ..., -0.11157867,
        -0.1698223 , -0.04228709],
       [-0.39185011, -0.14350051, -0.2010576 , ..., -0.11157867,
        -0.1698223 , -0.04228709],
       [ 0.66713234,  1.48216513,  1.91123984, ..., -0.11157867,
        -0.1698223 , -0.04228709],
       ...,
       [ 0.66713234,  0.50676574,  1.15606614, ..., -0.11157867,
        -0.1698223 , -0.04228709],
       [-0.39185011, -1.44403302, -0.86867492, ..., -0.11157867,
        -0.1698223 , -0.04228709],
       [-0.39185011, -0.79376677, -0.57317217, ..., -0.11157867,
        -0.1698223 , -0.04228709]])

In [21]:
X_test =  scale.fit_transform(X_test)
X_test

array([[-0.41604165, -0.16164779, -0.7366522 , ..., -0.11388042,
        -0.16656095, -0.05966885],
       [-1.53289385, -0.80873802, -1.16727875, ..., -0.11388042,
        -0.16656095, -0.05966885],
       [ 0.70081054,  0.16189732,  0.28608585, ..., -0.11388042,
        -0.16656095, -0.05966885],
       ...,
       [-0.41604165,  2.42671311,  0.49063346, ..., -0.11388042,
        -0.16656095, -0.05966885],
       [-0.41604165, -0.4851929 ,  0.10306956, ..., -0.11388042,
        -0.16656095, -0.05966885],
       [ 0.70081054,  0.48544244,  1.21193292, ..., -0.11388042,
        -0.16656095, -0.05966885]])

In [22]:
Transformed_Housing_Data_2.describe()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,...,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,5.116186e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,0.234347,7.623490,1788.319589,291.513490,...,0.007543,0.109399,0.188625,0.149706,0.186681,0.043824,0.076450,0.012449,0.027720,0.002314
std,2.500620e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,0.766382,1.105519,827.977604,442.570991,...,0.086525,0.312146,0.391220,0.356791,0.389665,0.204709,0.265722,0.110879,0.164173,0.048048
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,0.000000,8.000000,2210.000000,560.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.129575e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,10.000000,9410.000000,4820.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
print("Before deleting outliers length = " , data['Sale Price'].count())                
target = data['Sale_Price']
target_mean = data['Sale Price'].mean()
target_sd = data['Sale Price'].std()
data = data['Sale Price'].drop()
print("After deleting outliers length = " , data['Sal'])

NameError: name 'data' is not defined