In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('1. Regression - Module - (Housing Prices).csv')

In [3]:
data.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,None,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,None,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,None,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,None,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,None,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

data['Zipcode'].unique()

In [5]:
data['Sale Price'].mean()

540198.4357443658

In [6]:
#Initialising a new column
data['condition_sale'] = 0

# Calculating mean based on the condition of the House
for i in data['Condition of the House'].unique():
  data['condition_sale'][data['Condition of the House'] == str(i)] = data['Sale Price'][data['Condition of the House'] == str(i)].mean()

data['condition_sale'].unique()

array([542130.61120616, 612577.74250441, 521277.5105671 , 334431.66666667,
       327316.21511628])

In [7]:
import time
#Initialising a new column
data['zip_condition_sale'] = 0

C = 'Condition of the House'
Z = "Zipcode"

tick = time.time()
# Calculating mean based on the condition of the House and zipcode
for i in data[C].unique():
  for j in data[Z].unique() :
    data['zip_condition_sale'][(data[C] == str(i)) & (data[Z] == j) ] = data['Sale Price'][(data[C] == str(i)) & (data[Z] == j)].mean()
tock = time.time()
time1 = tock - tick
len(data['zip_condition_sale'].unique())

281

In [8]:
zip_condition_sale2  = pd.pivot_table(data, index=["Condition of the House","Zipcode"], values=["Sale Price"], aggfunc=np.mean,)
zip_condition_sale2

                                  Sale Price
Condition of the House Zipcode
Bad                    98004.0  1.500000e+06
                       98006.0  3.725000e+05
                       98011.0  2.700000e+05
                       98023.0  1.500000e+05
                       98024.0  1.420000e+05
                       98028.0  1.960000e+05
                       98033.0  5.350000e+05
                       98052.0  5.500000e+05
                       98058.0  1.900000e+05
                       98065.0  2.350000e+05
                       98103.0  3.529500e+05
                       98106.0  1.250000e+05
                       98112.0  4.270000e+05
                       98116.0  1.973333e+05
                       98117.0  1.250000e+05
                       98118.0  2.270000e+05
                       98122.0  4.828333e+05
                       98126.0  2.950000e+05
                       98136.0  6.580000e+05
                       98146.0  2.550000e+05
                       98148.0  2.752500e+05
                       98155.0  3.050000e+05
                       98168.0  7.950000e+04
Excellent              98001.0  2.425433e+05
                       98002.0  2.216411e+05
                       98003.0  3.706800e+05
                       98004.0  1.236365e+06
                       98005.0  8.319500e+05
                       98006.0  8.064050e+05
                       98007.0  6.974750e+05
...                                      ...
Okay                   98056.0  2.775000e+05
                       98058.0  2.338335e+05
                       98059.0  2.613500e+05
                       98065.0  3.050000e+05
                       98070.0  2.226250e+05
                       98074.0  3.924833e+05
                       98077.0  2.500000e+05
                       98092.0  2.733333e+05
                       98103.0  4.269440e+05
                       98105.0  2.560000e+06
                       98106.0  2.146667e+05
                       98107.0  6.680000e+05
                       98108.0  2.949750e+05
                       98112.0  5.275000e+05
                       98115.0  4.244167e+05
                       98116.0  3.937500e+05
                       98117.0  4.040000e+05
                       98118.0  2.467497e+05
                       98122.0  4.310000e+05
                       98125.0  3.474900e+05
                       98126.0  3.055000e+05
                       98136.0  2.733333e+05
                       98144.0  3.021550e+05
                       98146.0  2.241111e+05
                       98148.0  2.507500e+05
                       98155.0  3.601833e+05
                       98166.0  2.165625e+05
                       98168.0  1.809389e+05
                       98178.0  1.750000e+05
                       98198.0  2.705325e+05

[283 rows x 1 columns]

In [9]:
zip_condition_sale3  = pd.pivot_table(data, index=["Zipcode"], columns = ['Condition of the House'], values=["Sale Price"], aggfunc=np.mean)
zip_condition_sale3

                          Sale Price                ...
Condition of the House           Bad     Excellent  ...          Good          Okay
Zipcode                                             ...
98001.0                          NaN  2.425433e+05  ...  2.527446e+05  3.560700e+05
98002.0                          NaN  2.216411e+05  ...  2.192858e+05           NaN
98003.0                          NaN  3.706800e+05  ...  2.809591e+05  2.355000e+05
98004.0                 1.500000e+06  1.236365e+06  ...  1.145915e+06  4.250000e+05
98005.0                          NaN  8.319500e+05  ...  7.669397e+05  5.777500e+05
98006.0                 3.725000e+05  8.064050e+05  ...  7.297227e+05  5.475000e+05
98007.0                          NaN  6.974750e+05  ...  5.948187e+05           NaN
98008.0                          NaN  7.319962e+05  ...  5.888774e+05           NaN
98010.0                          NaN  3.195643e+05  ...  3.429075e+05           NaN
98011.0                 2.700000e+05  4.845429e+05  ...  4.617790e+05           NaN
98014.0                          NaN  4.208500e+05  ...  3.838071e+05  2.803500e+05
98019.0                          NaN  2.880000e+05  ...  3.196292e+05  2.472500e+05
98022.0                          NaN  2.728172e+05  ...  3.179756e+05  3.700000e+05
98023.0                 1.500000e+05  2.436938e+05  ...  2.662587e+05  2.268750e+05
98024.0                 1.420000e+05  5.328000e+05  ...  5.214417e+05  2.000000e+05
98027.0                          NaN  5.871450e+05  ...  5.316230e+05  5.200000e+05
98028.0                 1.960000e+05  4.972250e+05  ...  4.550322e+05           NaN
98029.0                          NaN  6.366667e+05  ...  6.104205e+05           NaN
98030.0                          NaN  2.566667e+05  ...  2.696514e+05  2.725000e+05
98031.0                          NaN  2.863050e+05  ...  2.877653e+05           NaN
98032.0                          NaN  2.444562e+05  ...  2.514113e+05           NaN
98033.0                 5.350000e+05  6.807425e+05  ...  6.470055e+05  4.511667e+05
98034.0                          NaN  6.139152e+05  ...  4.918135e+05  7.125000e+05
98038.0                          NaN  3.038300e+05  ...  3.271570e+05           NaN
98039.0                          NaN  1.515000e+06  ...  1.871375e+06           NaN
98040.0                          NaN  1.193426e+06  ...  1.079343e+06  7.115000e+05
98042.0                          NaN  2.391514e+05  ...  3.172984e+05  2.091680e+05
98045.0                          NaN  3.067500e+05  ...  3.263767e+05  2.702000e+05
98052.0                 5.500000e+05  7.739462e+05  ...  5.728418e+05  8.295000e+05
98053.0                          NaN  5.270000e+05  ...  7.694048e+05  1.700000e+05
...                              ...           ...  ...           ...           ...
98092.0                          NaN  2.840690e+05  ...  2.933719e+05  2.733333e+05
98102.0                          NaN  1.370648e+06  ...  1.182517e+06           NaN
98103.0                 3.529500e+05  6.860259e+05  ...  5.834830e+05  4.269440e+05
98105.0                          NaN  1.066282e+06  ...  7.938799e+05  2.560000e+06
98106.0                 1.250000e+05  3.572193e+05  ...  3.294546e+05  2.146667e+05
98107.0                          NaN  6.107357e+05  ...  5.641780e+05  6.680000e+05
98108.0                          NaN  4.270082e+05  ...  3.714949e+05  2.949750e+05
98109.0                          NaN  1.215344e+06  ...  9.817700e+05           NaN
98112.0                 4.270000e+05  1.465875e+06  ...  1.169168e+06  5.275000e+05
98115.0                          NaN  7.145419e+05  ...  6.171771e+05  4.244167e+05
98116.0                 1.973333e+05  6.908222e+05  ...  6.424039e+05  3.937500e+05
98117.0                 1.250000e+05  6.635453e+05  ...  5.720367e+05  4.040000e+05
98118.0                 2.270000e+05  4.332582e+05  ...  4.202014e+05  2.467497e+05
98119.0                          NaN  1.042215e+06  ...  1.028862e+06           NaN
98122.0                 4.828333e+05  8.983399e+05  ...  7.300939e+05  4.310000e+05
98125.0                          NaN  5.028114e+05  ...  5.079213e+05  3.474900e+05
98126.0                 2.950000e+05  4.625878e+05  ...  4.518940e+05  3.055000e+05
98133.0                          NaN  4.240079e+05  ...  3.852399e+05           NaN
98136.0                 6.580000e+05  7.139295e+05  ...  5.637485e+05  2.733333e+05
98144.0                          NaN  7.126617e+05  ...  7.067305e+05  3.021550e+05
98146.0                 2.550000e+05  4.622222e+05  ...  4.873845e+05  2.241111e+05
98148.0                 2.752500e+05  2.894750e+05  ...  2.796667e+05  2.507500e+05
98155.0                 3.050000e+05  4.212355e+05  ...  3.865931e+05  3.601833e+05
98166.0                          NaN  4.950685e+05  ...  4.524185e+05  2.165625e+05
98168.0                 7.950000e+04  2.502037e+05  ...  2.485587e+05  1.809389e+05
98177.0                          NaN  8.966313e+05  ...  6.665755e+05           NaN
98178.0                          NaN  2.975217e+05  ...  3.308419e+05  1.750000e+05
98188.0                          NaN  2.853636e+05  ...  2.867413e+05           NaN
98198.0                          NaN  3.215235e+05  ...  3.154305e+05  2.705325e+05
98199.0                          NaN  9.338983e+05  ...  7.963811e+05           NaN

[70 rows x 5 columns]

In [10]:
data['plot_length'] = data['Flat Area (in Sqft)']**0.5
data['plot_length'].head()

0    34.351128
1    50.695167
2    27.748874
3    44.271887
4    40.987803
Name: plot_length, dtype: float64

In [0]:
data['new_rank'] = data['Overall Grade']/data['Overall Grade'].sum()

In [12]:
data['total_area'] = data['Flat Area (in Sqft)'] + data['Lot Area (in Sqft)']
data['total_area'].head()

0     6830.0
1     9812.0
2    10770.0
3     6960.0
4     9760.0
Name: total_area, dtype: float64

In [13]:
data['Condition of the House'][data['Condition of the House'] == 'Fair'] = '1'
data['Condition of the House'][data['Condition of the House'] == 'Okay'] = '0'
data['Condition of the House'][data['Condition of the House'] == 'Bad'] = '0'
data['Condition of the House'][data['Condition of the House'] == 'Good'] = '1'
data['Condition of the House'][data['Condition of the House'] == 'Excellent'] = '3'
data['Condition of the House'].unique()

array(['1', '3', '0'], dtype=object)

In [14]:
data['Condition of the House'] = data['Condition of the House'].map({'Good':'1',
                                                                     'Excellent':'3',
                                                                     'Bad':'0',
                                                                     'Fair': '1',
                                                                     'Okay': '0'})
data['Condition of the House'].unique()

array([nan], dtype=object)

In [15]:
data['Date House was Sold'].head()

0     14 October 2017
1    14 December 2017
2    15 February 2016
3    14 December 2017
4    15 February 2016
Name: Date House was Sold, dtype: object

In [16]:
year = []
for i in range(len(data['Date House was Sold'])):
  k = data['Date House was Sold'][i].split()[-1]
  year.append(k)

data['year_sold'] = year
data['year_sold'].head()

0    2017
1    2017
2    2016
3    2017
4    2016
Name: year_sold, dtype: object

In [17]:
def year(value):
  return value.split()[-1]

data['year_sold'] = data['Date House was Sold'].map(year)
data['year_sold'].head()

0    2017
1    2017
2    2016
3    2017
4    2016
Name: year_sold, dtype: object

In [18]:
#### Ignore THIS CELL ####

tick = time.time()
year = []
for i in range(len(data['Date House was Sold'])):
  k = data['Date House was Sold'][i].split()[-1]
  year.append(k)

data['year_sold'] = year
tock = time.time()
time1 = tock-tick

tick = time.time()
def year(value):
  return value.split()[-1]

data['year_sold'] = data['Date House was Sold'].map(year)
tock = time.time()
time2 = tock-tick
time1/time2

25.08506582625934

In [19]:
data.head()

           ID Date House was Sold  Sale Price  ...  new_rank  total_area  year_sold
0  7129300520     14 October 2017    221900.0  ...  0.000042      6830.0       2017
1  6414100192    14 December 2017    538000.0  ...  0.000042      9812.0       2017
2  5631500400    15 February 2016    180000.0  ...  0.000036     10770.0       2016
3  2487200875    14 December 2017    604000.0  ...  0.000042      6960.0       2017
4  1954400510    15 February 2016    510000.0  ...  0.000049      9760.0       2016

[5 rows x 27 columns]

In [20]:
data['total_rooms'] = (data['No of Bedrooms'] + data['No of Bathrooms']) * data['No of Floors']
data['total_rooms'].head()

0     4.0
1    10.5
2     3.0
3     7.0
4     5.0
Name: total_rooms, dtype: float64

In [21]:
def Room(row):
  return (row[0] + row[1]) * row[2]

data['total_rooms'] = data[['No of Bedrooms','No of Bathrooms','No of Floors']].apply(Room , axis = 1)
data['total_rooms'].head()

0     4.0
1    10.5
2     3.0
3     7.0
4     5.0
Name: total_rooms, dtype: float64

In [22]:
data[['No of Bedrooms','No of Bathrooms','No of Floors']]

       No of Bedrooms  No of Bathrooms  No of Floors
0                   3             1.00           1.0
1                   3             2.25           2.0
2                   2             1.00           1.0
3                   4             3.00           1.0
4                   3             2.00           1.0
5                   4             4.50           1.0
6                   3             2.25           2.0
7                   3             1.50           1.0
8                   3             1.00           1.0
9                   3             2.50           2.0
10                  3             2.50           1.0
11                  2             1.00           1.0
12                  3             1.00           1.5
13                  3             1.75           1.0
14                  5             2.00           1.5
15                  4             3.00           2.0
16                  3             2.00           2.0
17                  4             1.00           1.5
18                  2             1.00           1.0
19                  3             1.00           1.0
20                  4             1.75           1.0
21                  3             2.75           1.0
22                  5             2.50           2.0
23                  2             1.50           1.0
24                  3             2.25           2.0
25                  3             2.00           1.5
26                  3             1.75           2.0
27                  3             1.00           1.5
28                  3             1.75           1.0
29                  4             2.50           2.0
...               ...              ...           ...
21583               2             1.00           2.0
21584               3             2.50           2.0
21585               3             2.50           2.0
21586               2             2.50           3.0
21587               3             2.50           3.0
21588               2             1.50           2.0
21589               3             2.50           2.0
21590               4             3.50           1.5
21591               4             2.75           2.0
21592               3             2.25           3.0
21593               5             3.75           2.0
21594               4             2.75           2.0
21595               2             2.25           3.0
21596               5             2.75           2.0
21597               4             3.25           2.0
21598               4             2.50           2.0
21599               4             3.00           2.0
21600               5             3.75           2.0
21601               3             2.50           3.0
21602               3             1.75           1.0
21603               3             2.50           2.0
21604               3             2.00           3.0
21605               4             2.50           2.0
21606               4             3.50           2.0
21607               3             2.50           2.0
21608               3             2.50           3.0
21609               4             2.50           2.0
21610               2             0.75           2.0
21611               3             2.50           2.0
21612               2             0.75           2.0

[21613 rows x 3 columns]

In [0]:
#### Ignore THIS CELL ####
tick = time.time()
data['total_rooms'] = (data['No of Bedrooms'] + data['No of Bathrooms']) * data['No of Floors']
tock = time.time()
time1 = tock-tick

In [0]:
#### IGNORE THIS CELL ####
tick = time.time()
def Room(row):
  return (row[0] + row[1]) * row[2]

data['total_rooms'] = data[['No of Bedrooms','No of Bathrooms','No of Floors']].apply(Room , axis = 1)
tock = time.time()
time2 = tock-tick

In [28]:
time1/time2

0.004134261673597675

In [29]:
data.describe()

                 ID    Sale Price  ...    total_area   total_rooms
count  2.161300e+04  2.160900e+04  ...  2.159500e+04  21609.000000
mean   4.580302e+09  5.401984e+05  ...  1.719020e+04      8.493203
std    2.876566e+09  3.673890e+05  ...  4.160455e+04      4.380045
min    1.000102e+06  7.500000e+04  ...  1.423000e+03      0.000000
25%    2.123049e+09  3.219500e+05  ...  7.037500e+03      4.750000
50%    3.904930e+09  4.500000e+05  ...  9.575000e+03      7.000000
75%    7.308900e+09  6.450000e+05  ...  1.300000e+04     12.500000
max    9.900000e+09  7.700000e+06  ...  1.652659e+06     45.000000

[8 rows x 23 columns]

In [30]:
data.head()

           ID Date House was Sold  ...  year_sold  total_rooms
0  7129300520     14 October 2017  ...       2017          4.0
1  6414100192    14 December 2017  ...       2017         10.5
2  5631500400    15 February 2016  ...       2016          3.0
3  2487200875    14 December 2017  ...       2017          7.0
4  1954400510    15 February 2016  ...       2016          5.0

[5 rows x 28 columns]

In [31]:
data['luxury_home'] = 0

for i in range(len(data)):
  count = 0
  if data['Waterfront View'][i] == 'Yes':
    count = count+1
  if data['Condition of the House'][i] in ['Good','Excellent']:
    count = count+1    
  if data['Overall Grade'][i] >= 8:
    count = count+1
  if count >= 2:
    data['luxury_home'][i] = 'Yes'
  else:
    data['luxury_home'][i] = 'No'
    
data['luxury_home'].unique()

array(['No', 'Yes'], dtype=object)

In [33]:
def luxury_home(row):
  count = 0
  if row[0] =='Yes':
    count = count+1
  if row[1] in ['Good', 'Excellent']:
    count = count+1
  if row[2] >= 8:
    count = count+1  
  if count >= 2:
    return 'Yes'
  else:
    return "No"
  
data['luxury_home'] = data[['Waterfront View','Condition of the House','Overall Grade']].apply(luxury_home, axis = 1)

data['luxury_home'].unique()

array(['No', 'Yes'], dtype=object)

In [34]:
luxury_home(['Yes','Good', 5])

'Yes'